*{
    font-family: Helvetica;
}

.banner{
    width: 100%;
    height: 150px;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
}


.banner h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: 0 auto;
     
}

h2{
    
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.content img{
    box-align: left;
}

#Brushes{
    background-color: mediumspringgreen;
}

#Frames{
    background-color: lightcoral;
}

#Paint{
    background-color: skyblue;
}

span{   
    font-weight: bold;
    color: blue;
}